#top_slider {
  #slider2 {
    .slider2-items {
      width: 100%;
      height: 95vh;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: cover;
    }
    #filter_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      text-align: center;
      h4 {
        font-size: 38px !important;
        font-weight: bold;
        margin-bottom: 30px;
        color: white;
      }

      h5 {
        color: white;
        font-size: 14px;
      }
      ul {
        list-style-type: none;
        li {
          display: inline-flex;
          padding: 0px 10px;
          a {
            margin-bottom: 20px;
            color: white;
            font-size: 14px;
            border-bottom: 1px solid white;
            padding-bottom: 3px;
          }
        }
      }
      .content {
        margin-bottom: 10px;
        button {
          padding: 15px 32px 14px 32px;
          cursor: pointer;
          font-size: 15px;
          border: none;
          background-color: #e2260d;
          border-radius: 3px;
          color: white;
        }
        input {
          width: 100%;
          border: none;
          padding: 12px 10px;
          font-size: 14px;
        }
        select {
          width: 100%;
          border: none;
          padding: 11px 10px;
          font-size: 14px;
        }
      }
    }
  }
}

#slider_under {
  background-color: #f3f3f3;
  text-align: center;
  width: 100%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 15px 20px;
      p {
        font-size: 14px;
        color: #595858;
      }
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 320px) {
  #top_slider {
    #slider2 {
      #filter_box {
        width: 90%;
        h4 {
          font-size: 30px !important;
        }
      }
    }
  }
}
