#top_slider {
  #slider2 {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    //.slider2-items {
    //  width: 100%;
    //  min-height: 85vh;
    //  height: auto;
    //  overflow: hidden;
    //  background-repeat: no-repeat;
    //  background-position: center center;
    //  -webkit-background-size: cover;
    //  background-size: cover;
    //}
    #filter_box {
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      margin: auto;
      padding: 86px 0px;
      width: 60%;
      height: auto;
      text-align: center;

      h4 {
        font-size: 38px !important;
        font-weight: bold;
        margin-bottom: 30px;
        color: white;
      }

      h5 {
        color: white;
        font-size: 14px;
      }
      ul {
        list-style-type: none;
        li {
          display: inline-flex;
          padding: 0px 10px;
          a {
            margin-bottom: 20px;
            color: white;
            font-size: 14px;
            border-bottom: 1px solid white;
            padding-bottom: 3px;
          }
        }
      }
      .content {
        margin-bottom: 10px;

        .select-box {
          width: 100%;
          background-color: #fff;
          position: relative;
          padding: 12px 0px 12px 36px !important;
          height: 38px;
          font-size: 14px;
          cursor: pointer;
          span {
            font-size: 15px;
          }
          &:after {
            position: absolute;
            content: '\f0d7';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #8b8989;
            z-index: 10;
          }
          &:before {
            position: absolute;
            content: '\f236';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #1b1e21;
            z-index: 10;
          }
          //&:hover {
          //  .select-content {
          //    z-index: 15;
          //    opacity: 1;
          //    ul {
          //      display: block;
          //    }
          //  }
          //}
          .select-content {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            z-index: 1;
            opacity: 0;
            transition: .3s;
            ul {
              display: none;
              max-height: 100px;
              overflow-y: scroll;
              li {
                padding: 6px 14px;
                display: block;
                cursor: pointer;
                &:hover {
                  color: #1c7430;
                  background-color: #d9d9d9;
                }
              }
            }
          }
        }

        .select-box-bath {
          &:before {
            content: '\f2cd';
          }
        }

        .select-box-min {
          padding-left: 42px !important;
          &:before {
            content: 'Min $' !important;
          }
        }

        .select-box-max {
          padding-left: 45px !important;
          &:before {
            content: 'Max $' !important;
          }
        }
        button {
          padding: 15px 32px 14px 32px;
          cursor: pointer;
          font-size: 15px;
          border: none;
          background-color: #e2260d;
          border-radius: 3px;
          color: white;
        }
        .district-project {
          position: relative;
          input {
            width: 100%;
            border: none;
            padding: 11px 10px;
            font-size: 14px;
            z-index: 1;
          }
          &:after {
            position: absolute;
            content: '\f3c5';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #8b8989;
            z-index: 10;
          }

        }

        select {
          border-radius: 0px !important;
          position: relative;
          border: none;
          //background-color: transparent;
          width: 100% !important;
          padding: 11px 10px 11px 38px;
          font-size: 14px;
          background-color: #fff;
          font-family: 'Font Awesome\ 5 Free' !important;
          font-weight: 900;
          color: #6b6b6b;
        }

        .select-box2 {
          position: relative;
          width: 100%;
          //background-color: #fff;
          &:before {
            //content: '\f236';
            position: absolute;
            font-family: 'Font Awesome\ 5 Free' !important;
            font-weight: 900;
            color: #6b6b6b;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
          }

        }
        .show-box {
          &:before {
            content: '\f2cd' !important;
          }
        }
        .show-bed {
          &:before {
            content: '\f236' !important;
          }
        }

        .show-min {
          //font-size: 13px;
          &:before {
            content: 'Min' !important;
          }
        }

        .show-max {
          //font-size: 13px;
          &:before {
            content: 'Max' !important;
          }
        }
        a {
          color: white;
          text-decoration: underline !important;
        }
      }
    }
  }
}

#slider_under {
  background-color: #f3f3f3;
  text-align: center;
  width: 100%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 15px 20px;
      p {
        font-size: 14px;
        color: #595858;
      }
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 320px) {
  #top_slider {
    #slider2 {
      min-height: 80vh;
      height: auto;
      .slider2-items {
        min-height: 80vh;
        height: auto;
      }
      #filter_box {
        width: 90%;
        h4 {
          font-size: 30px !important;
        }
        .content {
          .select-box2 {
            &:before {
              left: 20px;
            }

          }
        }
      }
      #mobile-show {
        display: none;
      }

    }
  }
}
