#h_1 {
  h4 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .easy-items {
    text-align: center;
    position: relative;
    i {
      font-size: 50px;
      color: #1c7430;
      margin-bottom: 15px;
    }
    h5 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      min-height: 50px;
    }
  }
  .easy-items:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border-top: 3px solid #767676;
    border-right: 3px solid #767676;
    background-color: transparent;
    right: -10px;
    top: 50%;
    transform: rotate(45deg);
  }

  .easy-items:last-child:after {
    border: none;
  }

  #owl-demo0 .owl-nav{
    display: none!important;
  }
}

@media screen and (max-width: 750px) and (min-width: 320px) {
  #h_1{
    h4 {
      font-size: 32px;
    }
  }
}