#h_2 {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 38px;
  position: relative;
  z-index: 0;
  .nav-title {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        a {
          font-size: 13px;
          color: #919191;
        }
        &:not(:last-child) {
          position: relative;
          margin-right: 20px;
          &:after {
            position: absolute;
            top: 50%;
            right: -15px;
            content: '';
            width: 8px;
            height: 8px;
            border-top: 2px solid #919191;
            border-right: 2px solid #919191;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
  }
  h4 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  p {
    span {
      font-size: 20px;
      font-weight: bold;
    }
    select {
      padding: 6px 12px;
      margin-left: 20px;
      font-size: 14px;
      option {
        padding: 6px 12px;
        font-size: 13px;
      }
    }
  }
  h6 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .tab {
    .tablinks {
      background-color: transparent;
      border: none;
      color: #9d9d9d;
      font-size: 15px;
      padding: 3px 8px;
    }

    .tablinks.active {
      border: 1px solid #9d9d9d;
      color: #1b1e21;
    }
  }

  .owl-carousel {
    .item {
      img {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
    }
    .owl-img {
      background-size: cover;
      background-position: center center;
      height: 176px;
      width: 100%;
      overflow: hidden;
    }
  }

  .owl-theme {
    .owl-nav {
      height: 100%;
      margin-top: 0 !important;
      top: 0;
      .owl-prev {
        background-color: rgba(00, 00, 00, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 30px;
        text-align: center;
        font-size: 26px;
      }
      [class*='owl-'] {
        color: #FFF;
        font-size: 24px;
        margin: 0px !important;
        padding: 4px 7px;
        background-color: rgba(00, 00, 00, 0.6);
        display: inline-block;
        cursor: pointer;
        border-radius: 0px !important;
        opacity: 0;
        transition: .3s;
      }

      .owl-next {
        background-color: rgba(00, 00, 00, 0.6);
        height: 100%;
        width: 30px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 26px;
        /*transform: translateY(-50%);*/

      }

      button:focus {
        outline: 0;
      }

    }
  }

  .owl-theme:hover .owl-nav [class*='owl-'] {
    opacity: 1;
    background: rgba(00, 00, 00, 0.3);
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
  }

  .proj-items {
    h5 {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #1c7430;
    }

    .price {
      position: absolute;
      left: -3px;
      bottom: 3px;
      z-index: 11;
      background-color: #1b1e21;
      color: white;
      padding: 6px 12px;
    }
    a {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #1c7430;
    }
    .thongtin {
      margin-top: 12px;
      i {
        margin-right: 6px;
      }
      p {
        max-width: 60px;
        margin-right: 6px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  button.view-all {
    font-size: 14px;
    padding: 13px 26px;
    border: none;
    background-color: #1c7430;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }

  #nav {
    ul {
      list-style-type: none;
      li {
        display: inline-flex;
        a {
          color: #838282;
          p {
            margin-right: 20px;
            font-size: 14px;
          }
          &:hover {
            color: #1b1e21;
          }
        }
        a.active {
          color: #1b1e21;
        }
      }
    }
  }

  #pr-info {

    .r-housecode {
      border: 5px solid #838282;
      padding: 5px 18px;
      position: relative;
      min-height: 60px;
      min-width: 110px;
      .inner {
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        h6 {
          font-size: 18px;
        }
        p {
          min-width: 86px;
          font-size: 12px;
          padding: 0px 0px 6px 0px;
          background-color: #fff;
        }

      }
    }
    a {
      font-size: 14px;
    }
  }

}

@media screen and (max-width: 750px) and (min-width: 320px) {

  .proj-items {
    a {
      font-size: 18px;
    }
    .thongtin {
      i {
        font-size: 12px;
        margin-right: 2px;
      }
      p {
        display: inline-block;
        text-overflow: ellipsis;
        margin-right: 3px;
        font-size: 10px;
      }
    }
  }

  .owl-carousel {
    .owl-img {
      height: 118px!important;
    }
  }

  .owl-theme {
    .owl-nav [class*='owl-'] {
      opacity: 1 !important;
      background: rgba(00, 00, 00, 0.3);
      color: #FFF;
      text-decoration: none;
      font-size: 26px;
    }
  }
}



