#banner_title {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 80vh;
  position: relative;
  .bg-cover {
    width: 100%;
    background: rgba(00, 00, 00, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 38px 0px;
    color: white;
    h6 {
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-size: 38px;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 20px;
    }
    h5 {
      font-size: 32px;
      margin-bottom: 12px;
    }
    p {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 320px) {
  #banner_title {
    height: 50vh;
    .bg-cover {
      padding: 18px 0px;
      h6 {
        font-size: 26px;
      }
      h5{
        font-size: 22px;
      }
    }
  }
}