#mobile-bar{
  background: #f9f9f9;
  padding: 38px 0 38px 0;
  h5{
    padding: 3px 10px;
    border-radius: 3px;
    background-color: $main-color;
    color: white;
    width: fit-content;
    margin-bottom: 18px;
  }
  p{
    line-height: 20px;
  }
}